$mobile: "(min-width: 320px) and (max-width: 767px)";
$small: "(max-width: 570px)";
$notmobile: "(min-width: 767px)";
$tablet: "(min-width: 320px) and (max-width: 959px)";
$custom: "(min-width: 320px) and (max-width: 1024px)";
$desktop: "(min-width: 960px)";
$bigscreen: "(min-width: 640px)";
$secondary-color: #038595;
$color-orange: #FC6435;
$color-yellow: #FFFBDF;
$color-green: #67c23a;
$color-muted: #979797;
$color-grey : #828282;
$color-light-grey: #BDBDBD;
$color-black: #000000;
$nav-height: 70px;
